*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #005594;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 20px;
    width: 100%;
}

.header img {
    width: 200px;
    height: 60px;
}



.fa-list {
    width: 10%;
    font-size: 1.8em;
    color: honeydew;
}

form {
    position: relative;
}

form input {
    width: 130px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding-left: 5px;
}

.fa-search {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #777;
}

.menu {
    background-image: url(https://dbvsqmxjxhzpy.cloudfront.net/fileadmin/medlife/Images/shutterstock_264987725.jpg);
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scared {
    background-image: url(https://static.wallpapers-anime.com/upload/20170617/805/w/x/n/wxnGEF.jpg );
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scared img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
}

.scared-2 {
    display: none;
}

.center {
    text-align: center;
}

.center p {
    margin: 5px 0;
    font-size: 3em;
    font-weight: bold;
    font-family: sans-serif;
    color: honeydew;
    background-color: rgba(47, 47, 255, 0.805);
    padding: 7px 20px;
    border-radius: 20px;
}

.par {
    margin: 5px 0;
    font-size: 1.9em;
    font-weight: bold;
    font-family: sans-serif;
    color: honeydew;
    text-align: center;
    background-color: rgba(12, 139, 143, 0.705);
    width: 85%;
    border-radius: 20px;
}

.btn {
    width: 140px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: darkorange;
    cursor: pointer;
}

.btn2 {
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgba(253, 49, 49, 0.541);
    cursor: pointer;
}



@media only screen and (max-width: 420px) {
    .scared {
        background-image: url(./images/momo2.jpg);
    }

    .scared img {
        width: 15px;
        height: 15px;
        top: 5px;
        right: 5px;
    }

    .menu {
        background-image: url(https://i.pinimg.com/originals/41/81/c5/4181c53bb7b58f42e8b5a15ee692dc07.jpg);
    }

    .center p {
        color: darkred;
        font-size: 2em;
    }

    .header img {
        width: 140px;
        height: 40px;
    }
    
    .fa-list {
        font-size: 20px;
    }

    form input {
        width: 80px;
        height: 20px;
    }

    .fa-search {
        font-size: 10px;
        right: 5px;
        top: 5px;
    }

}
