*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu {
    background-image: url(https://im0-tub-ru.yandex.net/i?id=b5686e229285369a96bbab74581174eb&ref=rim&n=33&w=421&h=248);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scared {
    background-image: url(https://static.wallpapers-anime.com/upload/20170617/805/w/x/n/wxnGEF.jpg );
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scared img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 10px;
    bottom: 10px;
}

.scared-2 {
    display: none;
}

.center {
    text-align: center;
}

.center p {
    margin: 5px 0;
    font-size: 3em;
    font-weight: bold;
    font-family: sans-serif;
    color: darkmagenta;
}

.par {
    margin: 5px 0;
    font-size: 1.9em;
    font-weight: bold;
    font-family: sans-serif;
    color: honeydew;
    text-align: center;
    background-color: rgba(12, 139, 143, 0.705);
    width: 85%;
    border-radius: 20px;
}

.btn {
    width: 140px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: darkorange;
    cursor: pointer;
}

.btn2 {
    width: 140px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(253, 49, 49);
    cursor: pointer;
}



@media only screen and (max-width: 420px) {
    .scared {
        background-image: url(https://im0-tub-com.yandex.net/i?id=d415e7e193d0daeb5e08ceec61498a02&n=13);
    }

    .scared img {
        width: 30px;
        height: 30px;
        top: 8px;
        right: 8px;
    }

    .menu {
        background-image: url(https://avatars.mds.yandex.net/get-pdb/2074020/5df33438-b1e7-4221-a768-c2f790ab13ab/s1200?webp=false);
    }

    .center p {
        color: darkred;
    }
}